---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <ViewTransitions />
    <base href="{import.meta.env.BASE_URL}" />
  </head>
  <body class="selection:bg-indigo-400/50">
    <slot />
  </body>
</html>
